<div class="row m-b-xl">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="background img_event" style="background-image: url('http://77.120.123.202:3001/public/Events/<%= item.Picture %>')"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="event-title text-blue text-bold">
                <%= item.title %>
        </div>
        <div class="text-gray event-date"><%= item.date %></div>
        <div class="m-t-b-10">
            <%= item.description %>
        </div>
        <div class="event-link">
        <a href="/single_events/<%= item._id%>" class="text-blue"> Прочитати про подію > </a>
        </div>
    </div>              
</div>