<div class="modal fade" id="recordsModal<%= item.id%>" tabindex="-1" role="dialog" aria-labelledby="recordsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header block-blue text-center text-white">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title m-b-sm" id="recordsModalLabel"><%= item.modalTitle %>:</div>
            <div class="text-bold text-big"><%= item.value %></div>
            <h5>зареєстрована <%= item.date %>&nbsp;р. на метеорологічній станції <%= item.post %></h5>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
            <table class="table records-table">
                <tbody>
                    <% item.table.forEach(function(items){%>
                        <tr>
                            <td><%= items.date %></td>
                            <td><%= items.value %></td>
                            <td><%= items.post %></td>
                        </tr>
                    <% })%>              
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="text-gray m-t-b-10" data-dismiss="modal" data-toggle="modal" data-target="#recordsModal<%= item.id-1%>">&lt; Попередній рекорд</button>
            <button type="button" class="text-gray m-t-b-10 active" data-dismiss="modal" data-toggle="modal" data-target="#recordsModal<%= item.id+1%>">Наступний рекорд &gt;</button>
        </div>
        </div>
    </div>
</div>