<td> <%= item.temperature %> </td>
<td> <%= item.wind %> <i class="la la-long-arrow-<%= item.DirectionWind %> la-lg"></i></td>
<td> <%= item.pressure %> </td>     
<td>
    <% if(item.phenomena != ""){ %>
    <img src="/public/assets/svg/<%= item.phenomena %>_small.svg">
  <% } %>
</td>