<div class="background background_1_1">
    <div class="today-weather-block text-white">
        <div class="today-weather-body">
          <div class="flex-block just-sp-btw m-b-sm">
            <div>ЗАПОРІЖЖЯ</div>
            <div> <%= ZpTemperature.date %></div>
          </div>
            <p class="text-gray">Поточна погода о <%= ZpTemperature.Observable %></p>
            <div class="today-temp text-center text-bold "> <%= ZpTemperature.temperature %></div>
          </div>
          <div class="today-weather-footer">
            <span> <%= ZpTemperature.wind %> <i class="la la-long-arrow-<%= ZpTemperature.DirectionWind %> la-lg"></i></span>
            <img src="public/assets/svg/<%= ZpTemperature.weather %>.svg" class="f-r">
          </div>
    </div>
</div>