<tr>
  <td>
      <div class="flex-block just-sp-ar">
      <div><%= item.Summer %></div>
      <div><%= item.Winter %></div>
    </div>                    
  </td>
  <td> <%= item.Weather.temperature %> </td>
  <td> <%= item.Weather.wind %> <%if (item.Weather.wind){%>м/с<%}%><i class="la la-long-arrow-<%= item.Weather.DirectionWind %> la-lg"></i></td>
  <td> <%= item.Weather.pressure %> </td>     
  <td>
      <% if(item.Weather.phenomena != ""){ %>
      <img src="/public/assets/svg/<%= item.Weather.phenomena %>_small.svg">
    <% } %>
  </td>
</tr>