<div class="modal fade" id="phenomenaModal<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="phenomenaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header block-blue text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title m-b-sm text-white" id="phenomenaModalLabel"><%= item.modalName %> </div>
            <h5><%= item.modalConvention %> </h5>
        </div>
        <div class="modal-body">
            <div class="flex-block just-sp-ar m-b-sm">
            <div class="text-gray m-l-r-10">Інтенсивність: <%= item.strength %></div>
            <div class="text-gray m-l-r-10">Тривалість: <%= item.duration %></div>
            </div>
            <div class="table-responsive">
            <table class="table phenomena-table">
                <tbody>
                    <% item.table.forEach(function(items){%>
                        <tr>
                            <td class='modalDate'><%= items.date %></td>
                            <td><%= items.value %></td>
                            <td><%= items.post %></td>
                        </tr>
                    <% })%>
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="text-gray m-t-b-10" data-dismiss="modal" data-toggle="modal" data-target="#phenomenaModal<%= item.id-1 %>">&lt; Попередній рекорд</button>
            <button type="button" class="text-gray m-t-b-10 active" data-dismiss="modal" data-toggle="modal" data-target="#phenomenaModal<%= item.id+1 %>">Наступний рекорд &gt;</button>
        </div>
        </div>
    </div>
</div>
