<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_5"></div>
            <div class="container m-b-md">
              <div class="block-title text-center">
                Кліматична характеристика Запорізької області
              </div>
              <div class="list text-j">
                <div class="list-item">
                  <%= data['1block'] %>
                </div>
                <div class="list-item">
                  <%= data['2block'] %>
                </div>
                <div class="list-item pos-rel">
                  <div class="block-80-right block-blue f-r"></div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="background img_sunset"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="inside-block-blue text-white">
                        <%= data['3block'] %>
                      </div>                  
                    </div>
                  </div>
                </div>
                <div class="list-item">
                  <%= data['4block'] %>
                </div>
                <div class="list-item">
                  <%= data['5block'] %>
                </div>
                <div class="list-item">
                  <%= data['6block'] %>
                </div>
                <div class="list-item pos-rel">
                  <div class="block-80-left block-gray f-l"></div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="inside-block-gray">
                        <%= data['7block'] %>
                      </div>                  
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="background img_umbrella"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>