<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_12_1"></div>
            <div class="block-blue text-white">
              <div class="block-title text-center">
                Радіаційний фон
              </div>  
              <div class="container m-b-xl">
                <div class="list text-j">
                  Радіаційне поле у приземному шарі амосфери та на поверхні землі формується переважно гамма-випромінюючими радіонуклідами природного походження, 
                  які утворюються в верхніх шарах атмосфери та присутні в літосфері з часу створення Землі.
                  Однією із характеристик цього поля є потужність експозиційної дози (ПЕД). 
                  Середні рівні ПЕД, обумовлені природними радіонуклідами, неоднакові для різних місцевостей і залежать від геологічних умов.
                  За даними спостережень семи метеорологічних станцій, потужність експозиційної дози гамма-випромінювання на території Запорізької області знаходиться у межах рівнів, 
                  обумовлених розпадом природних радіонуклідів та космічним випромінюванням, і складає 6-20 мкР/год.
                </div>
              </div>     
            </div>
            <div class="background background_12_2">
              <div class="container m-b-md">
                <div class="text-center p-t-lg">Потужність експозиційної дози гамма-випромінювання (мкР/год) на території Запорізької області <br> <%= data[0].Date %></div> 
                <hr class="dash dash-blue">  
                <div class="background img_gray_map">
                  <svg viewBox="0 0 668 599" id="svg-map">
                    <image xlink:href="http://localhost:3001/public/assets/images/radiation_map.png" width="668" height="599"/>
                    <g class="zaporozhye"> 
                            <text 
                                x="230.87167" 
                                y="124.72189" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[0].value %>
                            </text>
                        </g>
                        <g class="gylaypole"> 
                            <text 
                                x="453.65619" 
                                y="143.84221" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[6].value %>
                            </text>
                        </g>
                        <g class="kyrylivka"> 
                            <text 
                                x="469.64917" 
                                y="244.16028" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[5].value %>
                            </text>
                        </g>
                        <g class="berdyansk"> 
                            <text 
                                x="560.49872" 
                                y="420.90131" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[1].value %>
                            </text>
                        </g>
                        <g class="botievo">
                          <text 
                                x="370.75943" 
                                y="478.83926" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[3].value %>
                        </g>
                        <g class="melitopol">
                            <text 
                                x="234.71616" 
                                y="430.12277" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[2].value %>
                            </text>
                        </g>
                        <g class="prishib">
                          <text 
                                x="280.82956" 
                                y="289.4346" 
                                fill="red" 
                                style="font-weight: bold; font-size: 14px;"
                            >
                                <%= data[4].value %>
                            </text>
                        </g>
                  </svg>
                </div>
              </div>
            </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>