<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <div class="container m-b-md">
            <div class="text-blue text-center block-title"><%= station.full_name%></div>
            <div class="m-l-20 m-b-md map"><%= station.addres %></div>
            <%if(station.email != ""){ %><div class="m-l-20 m-b-xl address"><%= station.email %></div><%}%>
            <div id="page">
                    <div class="row">
                        <div class="column small-11 small-centered">
                            <div class="slider slider-single">
                                <div class="img-slide">
                                    <img  src="/public/assets/images/<%= station.Title%>1.jpg" alt=""/>
                                </div>
                                <div class="img-slide"> 
                                    <img  src="/public/assets/images/<%= station.Title%>2.jpg" alt=""/> 
                                </div>
                                <div class="img-slide"> 
                                    <img  src="/public/assets/images/<%= station.Title%>3.jpg" alt=""/>
                                </div>
                                <div class="img-slide"> 
                                    <img  src="/public/assets/images/<%= station.Title%>4.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="slider slider-nav">
                                <div>
                                    <div class="img-slide"> 
                                        <img  src="/public/assets/images/<%= station.Title%>1.jpg" alt=""/>
                                    </div>
                                </div>
                                <div>
                                    <div class="img-slide"> 
                                        <img  src="/public/assets/images/<%= station.Title%>2.jpg" alt=""/>
                                    </div>
                                </div>
                                <div>
                                    <div class="img-slide"> 
                                        <img  src="/public/assets/images/<%= station.Title%>3.jpg" alt=""/>
                                    </div>
                                </div>
                                <div>
                                    <div class="img-slide"> 
                                        <img  src="/public/assets/images/<%= station.Title%>4.jpg" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <% include ../partials/slideScript %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <% include ../partials/footer %>
</body>
</html>