<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <div class="container m-b-md">
            <div class="text-blue text-center block-title"><%= station.full_name%></div>
            <div class="m-l-20 m-b-md"><div class="map-icon"><%= station.addres %></div></div>
            <%if(station.email != ""){ %>
                <div class="m-l-20 m-b-xl"><div class="address"><%= station.email %></div></div>
                <%}%>
            <div id="page">
                    <div class="row">
                        <div class="column small-11 small-centered">
                            <div class="slider slider-single">
                                <%for(var i=0; i < station.photo; i++){%>
                                    <div class="img-slide">
                                        <img  src="/public/assets/images/<%= station.Title%><%= i+1%>.jpg" alt=""/>
                                    </div>
                                <%}%>
                            </div>
                            <div class="slider slider-nav">
                                <%for(var i=0; i< station.photo; i++){%>
                                    <div>
                                        <div class="img-slide"> 
                                            <img  src="/public/assets/images/<%= station.Title%><%= i+1 %>.jpg" alt=""/>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <% include ../partials/slideScript %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>