<div class="background background_8"></div>
    <div class="block-blue">
    <div class="block-title text-center text-white">
        <span class="number">01</span>
        Регулярні спостереження в період весняної повені
    </div>  
    <div class="text-center text-white">Поточна ситуація на річках та водосховищах станом на <%= data[0].observ %> годину <%= data[0].date%>.</div>
    <hr class="dash">
    <div class="container m-b-xl">
        <div class="table-responsive">
        <table id="regular_observations" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>№ з/п</th>
                <th>Гідрологічні пости</th>
                <th>Відмітка виходу води на заплаву (см над умовним 0 водомірного поста)</th>
                <th>Фактичний рівень води (см)</th>
                <th>Зміна рівня води за добу</th>
                <th>Льодові явища</th>
            </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<9 ; i++){%>
                    <tr>
                        <td><%= i+1 %></td>

                        <td> <%= data[i].Title %> &nbsp; <span class="text-gray"><%= data[i].Position %></span></td>
                        <td><%= data[i].OutWater %></td>
                        <td><%= data[i].LvlWater %></td>
                        <td><%= data[i].EditLvl %></td>
                        <td><%= data[i].phenomena %></td>
                    </tr>
                <%}%>                                                                                          
            </tbody>
        </table>   
        </div>       
    </div>      
</div>