<div class="background background_4_2">
    <div class="block-white shadow-round-block-small">
        <div class="block-title text-center">
        <span class="number">04</span>
        Кліматичні дані <br> по м. Запоріжжя
        </div>
        <div class="text-center"><%= ClimaticData.dayDate %> <%= ClimaticData.dayMonth %> (<%= ClimaticData.year %>рр.)</div>
        <hr class="dash dash-blue">
        <div class="list-item clear">
        <div class="f-l w-50">
            Середньодобова температура повітря за <%= ClimaticData.dayDate %> <%= ClimaticData.dayMonth %>
            <!-- <p class="text-gray">спостерігалась у <%= ClimaticData.SrTemperature.date %> р.</p> -->
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold"><%= ClimaticData.SrTemperature.value %></div>
        </div>
        <div class="list-item clear">
        <div class="f-l w-50">
            Максимальна температура повітря за день <%= ClimaticData.dayDate %> <%= ClimaticData.dayMonth %>
            <p class="text-gray">спостерігалась у <%= ClimaticData.MaxTemperature.date %> р.</p>
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold"><%= ClimaticData.MaxTemperature.value %></div>
        </div>
        <div class="list-item clear">
        <div class="f-l w-50">
            Мінімальна температура повітря за ніч <%= ClimaticData.nigthDate %> <%= ClimaticData.nigthMonth %>
            <p class="text-gray">спостерігалась у <%= ClimaticData.MinTemperature.date %> р.</p>
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold"><%= ClimaticData.MinTemperature.value %></div>
        </div>
    </div>
</div>
