<div class="background background_12_2 over-auto">
    <div class="block-title text-center">
        <span class="number">03</span>
        Огляд погоди
    </div>
    <div class="text-center">день <%= WeatherObservable.day%> &ndash; ніч <%= WeatherObservable.day+1%> <%= WeatherObservable.mounth%> <%= WeatherObservable.year%> року</div>
    <hr class="dash dash-blue">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="background img_gray_map_small">
                <% include ./svgMap %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="block-white text-j shadow-round-block">
            <div class="list-item text-style">
                <%= WeatherObservable.text%>
            </div>
            </div>

        </div>
        </div>
        <div class="block-blue top-round-block text-center text-white">
        <div class="title text-bold">Умовні позначки</div>
        <div class="flex-block just-sp-ar">
            <div class="conventions-block">
            <div class="block-white block-round-small text-blue text-bold">-13&deg;</div>
            <p>найнижча температура повітря минулої ночі</p>
            </div>
            <div class="conventions-block">
            <div class="block-white block-round-small text-red text-bold">+25&deg;</div>
            <p>найнижча температура повітря вчора вдень</p>
            </div>
            <div class="conventions-block">
            <div class="block-white block-round-small text-green text-bold">2.5мм</div>
            <p>кількість опадів за добу</p>
            </div>
            <!-- <div class="conventions-block">
            <div><img src="public/assets/svg/cloud_rain_small.svg"></div>
            <p>Дощ</p>
            </div>
            <div class="conventions-block">
            <div><img src="public/assets/svg/cloud_snow_small.svg"></div>
            <p>Сніг</p>
            </div> -->
        </div>
        </div>
    </div>
</div>
